
/* .heding{
  
font-size: 96px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
}
.heding1{
  color: white;
  line-height: 100px;
} */
.G-title{
 
background: linear-gradient(90.74deg, #58EAB5 10.28%, rgba(251, 241, 14, 0.78) 71.09%, rgba(251, 241, 14, 0.78) 76.75%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.Scard{
  background: linear-gradient(90.94deg, #87DEBF 8.44%, rgba(217, 217, 217, 0) 152.07%);
border-radius: 8px;
}
.S-title{
  background: linear-gradient(190.14deg, #FFFFFF 7.58%, rgba(255, 255, 255, 0) 122.32%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.BG-card{
background: linear-gradient(99.94deg, #56A3C4 45.98%, rgba(217, 217, 217, 0) 106.72%);
}
.moto{
  line-height: 134%;
  background: linear-gradient(180deg, #E0E0E0 0%, rgba(224, 224, 224, 0) 181.25%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.club-card{
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
border-radius: 10px;
}
.font-poet{
  font-family: 'poetsenone-regular', sans-serif;
}
.font-Pop{
  font-family: 'Poppins', sans-serif;
}
.heding2{
 
  background: linear-gradient(90.8deg, #BDF743 38.55%, rgba(53, 218, 139, 0) 99.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.faq{
  width: 241px;
height: 268px;
left: 600px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 134%;
/* identical to box height, or 268px */

text-align: center;

background: linear-gradient(289.56deg, #85E30D 33.71%, #E10808 82.3%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}